*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


/*** body and container ***/

body{
    font-family: 'Arial', sans-serif;
    background-color: #F4F9FD;
    color: rgb(48, 49, 59);
    min-width: 1440px;
}

.container{
    width: 70%;
    margin: auto;
}

i{
    margin-left: 7px;
}


/****** header ******/

/* first nav */

.nav1{
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid black;
}

.left_m, .right_m{
    float: left;
    width: 50%;
}

.left_m ul > li:first-child > a{
    padding-right: 20px;
    border-right: 2px solid rgb(48, 49, 59);
}

.left_m ul > li:last-child > a{ /* <- I figured this one out on my own I promise*/
    margin-left: 20px;
}

.dropdown_text{
    display: inline-block;
}


/*#line{     <-this had worked out but I don't trust it anymore
    width: 2px;
    background-color: grey;
    height: 20px;
    margin-left: 15px;
    margin-right: 15px;
}*/ 

.right_m{
    text-align: right;
}

ul li{
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: rgb(48, 49, 59);
}

.searchimg{
    width: 17px;
}


.button{
    font-size: 12px;
    border-radius: 5px;
    padding: 10px;
}

.login{
    border: 1px solid #FE775A;
    background-color: white;
    color: #FE775A;
    margin-left: 20px;
    margin-right: 20px;
}

.orange{
    background-color: #FE775A;
    color: white;
    width: fit-content;
}


/* second nav */
.nav2{
    height: 80px;
    background-color: white;
}

.nav2 > div{
    line-height: 80px;
}

.logo{
    width: 20%;
}

#logoimg{
    vertical-align: middle;
}

.main_menu{
    width: 80%;
    text-align: right;
}

.logo, .main_menu{
    float: left;
}

.main_menu ul li{
    display: inline-block;
    list-style: none;
}

.option{
    margin-left: 20px;
}

.nav2 ul li{
    position: relative;
}

.nav2 ul li ul{
    display: none;
    position: absolute;
    background-color: white;
} 

.nav2 ul li:hover ul{
    display: block;
}

.nav2 ul li ul li{
    width: 180px;
}



/* hero image thing */
.hero{
    height: 700px;
    background-image: url(../img/jumbotron.png);
    background-position: top right;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    background-color: #FFF4EF;
    position: relative;
}

.blueband{
    position: absolute;
    bottom: 0;
    height: 90px;
    width: 100%;
    background-color: #AFEBE4;
    border-top: 3px solid #2B3F54;
    border-bottom: 3px solid #2B3F54;
}

.herotitle{
    width: 35%;
    margin-left: 15%;
    padding-top: 50px;
    
}

#herotitlesize{
    font-size: 45px;
}

.herotext{
    margin-top: 20px;
    margin-bottom: 20px;
}

.herobtn{
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
    font-size: 13px;
}


/****** main ******/

/* rubik cube thing*/
.better{
    text-align: center;
    margin: 60px 100px 50px 100px;
}

#cube{
    width: 30%;
}

#power{
    margin-bottom: 20px;
}


/* free hubspot crm */
.box{
    background-color: white;
    border: 2px solid #E9EEF3;
    border-radius: 10px;
    margin-bottom: 50px;
}

.upper{
    padding: 50px 70px;
}

#learnmore{
    width: 20%;
    margin-right: 70px; 
    text-align: center;
    display: inline-block;
    float: left;
}

.pics{
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
}

.learn{
    margin: auto;
}

.crm{
    display: inline-block;
    width: 70%; 
    padding-top: 15px;
    float: left;
}

.lorem{
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 20pt;
    color: rgb(48, 49, 59);
}

#uppercase{
    margin-bottom: 22px;
}

#uppercase::after{
        background-color: #000;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 65%;
        margin-left: 30px;
}

.fa-check-circle{
    color: #FE775A;
    margin-left: 20px;
    margin-right: 15px;
}

div.crm > i:first-of-type{
    margin-left: 0;
}



/* services */
.box3{
    float: left;
    width: 31%;
    
}

.cent{
    margin-left: 34px;
    margin-right: 34px;
}

.upcent{
    text-align: center;
    padding: 30px;
}

.desc{
    margin-top: 50px;
    margin-bottom: 40px;
}

.more{
    margin-top: 40px;
    margin-bottom: 15px;
}

.checkservices{
    margin: 10px;
}



/* large gradient blue part*/
.largeblue{
    background: linear-gradient(90deg, #00A8BA 0%, #00BBA7 100%);;
    color: white;
    padding: 40px;
}

.lorem_w{
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 20pt;
    color: white;
}

.lgblue{
    width: 60%;
    text-align: center;
}

.square{
    float: left;
    width: 200px;
    text-align: center;
    padding: 15px;
}

.bordertop_l{
    border-left: 2px solid white;
    border-right: 1px solid white;
}

.bordertop_r{
    border-left: 1px solid white;
    border-right: 2px solid white;
}

.b_row{
    border-top: 2px solid white;;
}

.num{
    margin-top: 10px;
    margin-bottom: 10px;
}

.small{
    font-size: 12px;
}

#growthlast{
    padding-top: 25px;
}

/*** start growing today part ***/
.bgw{
    background-color: white;
}

.white{
    background-color: white;
    padding: 30px;
}



/* lots of logos */
.over{
    width: 50%;
    float: left;
    padding: 0px 130px 0px 130px;
}

.lots{
    width: 50%;
    float: right;   
    padding-bottom: 20px;
}

.lotsimg{
    float: left;
    padding: 0px 10px;
    width: 25%;
}

.imgsize{
    max-width: 100%;
    height: 50px;
    object-fit: contain;
    object-position: center;
}

/* smiling woman */
.start{
    margin-top: 50px;
}

.start_title, .woman{
    float: left;
    width: 50%;
}

.woman{
    background-image: url('../img/woman.webp');
    background-position: right;
    background-repeat: no-repeat;
    height: 230px;
    background-size: contain;
}


/****** footer ******/
footer{
    background-color: #32495B;
    color: white;
}

.list1, .list2, .list3, .list4{
    float: left;
    width: 25%;
    margin-top: 30px;
}

dt{
    margin-bottom: 15px;
}

dd{
    line-height: 20pt;
}

.support{
    background-color: white;
    color: #32495B;
    width: fit-content;
    margin: 15px 0px 15px 0px;
}

.social{
    margin: 6px;
}

/* down footer*/
.lang{
    margin-top: 100px;
    margin-bottom: 15px;
    text-align: center;
}

.downf{
    margin-top: 30px;
    padding-bottom: 30px;
}

.wlogo, .legalstuff{
    width: 50%;
    float: left;
}

.legalstuff{
    text-align: right;
}