*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


/*** body and container ***/

body{
    font-family: 'Arial', sans-serif;
    background-color: #F4F9FD;
    color: rgb(48, 49, 59);
    min-width: 1440px;
}

.container{
    width: 70%;
    margin: auto;
}

i{
    margin-left: 7px;
}


/****** header ******/

/* first nav */

.nav1{
    height: 80px;
    line-height: 80px;
}

.left_m, .right_m{
    float: left;
    width: 50%;
}

.left_m ul > li:first-child > a{
    padding-right: 20px;
    border-right: 2px solid rgb(48, 49, 59);
}

.left_m ul > li:last-child > a{ /* <- I figured this one out on my own I promise*/
    margin-left: 20px;
}


/*#line{     <-this had worked out but I don't trust it anymore
    width: 2px;
    background-color: grey;
    height: 20px;
    margin-left: 15px;
    margin-right: 15px;
}*/ 

.right_m{
    text-align: right;
}

ul li{
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: rgb(48, 49, 59);
}

.searchimg{
    width: 17px;
}


.button{
    font-size: 12px;
    border-radius: 5px;
    padding: 10px;
}

.login{
    border: 1px solid #FE775A;
    background-color: white;
    color: #FE775A;
    margin-left: 20px;
    margin-right: 20px;
}

.orange{
    background-color: #FE775A;
    color: white;
    width: fit-content;
}


/* second nav */
.nav2{
    height: 80px;
    background-color: white;
}

.nav2 > div{
    line-height: 80px;
}

.logo{
    width: 20%;
}

#logoimg{
    vertical-align: middle;
}

.main_menu{
    width: 80%;
    text-align: right;
}

.logo, .main_menu{
    float: left;
}

.main_menu ul li{
    display: inline-block;
    list-style: none;
}

.option{
    margin-left: 20px;
}



/* hero image thing */
.hero{
    height: 500px;
    background-image: url(../img/jumbotron.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    background-color: #FFF4EF;
}

.herotitle{
    width: 35%;
    margin-left: 15%;
    padding-top: 50px;
}

.herotext{
    margin-top: 20px;
    margin-bottom: 20px;
}

.herobtn{
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
    font-size: 13px;
}


/****** main ******/
.blueband{
    height: 70px;
    background-color: #AFEBE4;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/* rubik cube thing*/
.better{
    text-align: center;
    margin: 60px 100px 50px 100px;
}

#cube{
    width: 50%;
}

#power{
    margin-bottom: 20px;
}


/* free hubspot crm */
.box{
    background-color: white;
    border: 2px solid #E9EEF3;
    border-radius: 10px;
    height: 300px;
    margin-bottom: 50px;
}

.upper{
    padding: 50px 70px;
}

#learnmore{
    width: 25%;
    margin-right: 70px; 
    text-align: center;
    display: inline-block;
}

#book{
    width: 120px;
    margin-bottom: 15px;
}


#learn{
    margin: auto;
}

.crm{
    display: inline-block;
    width: 60%; 
}

.lorem{
    margin-top: 20px;
    margin-bottom: 18px;
}

#uppercase{
    margin-bottom: 22px;
}

#uppercase::after{

}

.fa-check-circle{
    color: #FE775A;
    margin-left: 20px;
    margin-right: 15px;
}

div.crm > i:first-of-type{
    margin-left: 0;
}



/* services */
.box3{
    height: 500px;
    background-color: blue;
}




.largeblue{
    height: 600px;
    background-color: blueviolet;
}

.several{
    height: 600px;
    background-color: white;
}

/****** footer ******/
footer{
    height: 500px;
    background-color: turquoise;
}

